
/.vs/RedSailTechnologies.PaymentProcessingModule/DesignTimeBuild
/.vs/RedSailTechnologies.PaymentProcessingModule/FileContentIndex
/.vs/RedSailTechnologies.PaymentProcessingModule/v17
/RedSailTechnologies.PaymentProcessingModule.Services/obj
/RedSailTechnologies.PaymentProcessingModule/obj
/.vs
/RedSailTechnologies.PaymentProcessingModule.Common/bin
/RedSailTechnologies.PaymentProcessingModule.Common/obj
/RedSailTechnologies.PaymentProcessingModule.Repositories/obj
/RedSailTechnologies.PaymentProcessingModule.Repositories/obj
/RedSailTechnologies.PaymentProcessingModule.Tests/obj
/RedSailTechnologies.PaymentProcessingModule.Common/obj
/RedSailTechnologies.PaymentProcessingModule.Common/obj
/RedSailTechnologies.PaymentProcessingModule.Common/obj
/RedSailTechnologies.PaymentProcessingModule/bin
/RedSailTechnologies.PaymentProcessingModule.Repositories/obj
/RedSailTechnologies.PaymentProcessingModule.Common/obj
/RedSailTechnologies.PaymentProcessingModule.Common/obj
/RedSailTechnologies.PaymentProcessingModule.Repositories/obj
/RedSailTechnologies.PaymentProcessingModule.Repositories/obj
/RedSailTechnologies.PaymentProcessingModule.Common/obj
/RedSailTechnologies.PaymentProcessingModule.Common/obj
*.pdb
*.cache
RedSailTechnologies.PaymentProcessingModule.Common/obj/Debug/net8.0/RedSailTechnologies.PaymentProcessingModule.Common.AssemblyInfo.cs
RedSailTechnologies.PaymentProcessingModule.Common/obj/Debug/net8.0/RedSailTechnologies.PaymentProcessingModule.Common.AssemblyInfoInputs.cache
RedSailTechnologies.PaymentProcessingModule.Repositories/bin/Debug/net8.0/RedSailTechnologies.PaymentProcessingModule.Repositories.deps.json
RedSailTechnologies.PaymentProcessingModule.Repositories/bin/Debug/net8.0/RedSailTechnologies.PaymentProcessingModule.Repositories.dll
RedSailTechnologies.PaymentProcessingModule.Repositories/obj/Debug/net8.0/RedSailTechnologies.PaymentProcessingModule.Repositories.AssemblyInfo.cs
RedSailTechnologies.PaymentProcessingModule.Repositories/obj/Debug/net8.0/RedSailTechnologies.PaymentProcessingModule.Repositories.AssemblyInfoInputs.cache
RedSailTechnologies.PaymentProcessingModule.Services/bin/Debug/net8.0/RedSailTechnologies.PaymentProcessingModule.Services.deps.json
RedSailTechnologies.PaymentProcessingModule.Services/bin/Debug/net8.0/RedSailTechnologies.PaymentProcessingModule.Services.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/cs/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/de/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/es/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/fr/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/it/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/ja/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/ko/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/Microsoft.TestPlatform.AdapterUtilities.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/Microsoft.TestPlatform.CommunicationUtilities.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/Microsoft.TestPlatform.CoreUtilities.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/Microsoft.TestPlatform.CrossPlatEngine.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/Microsoft.TestPlatform.PlatformAbstractions.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/Microsoft.TestPlatform.Utilities.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/Microsoft.VisualStudio.TestPlatform.Common.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/Newtonsoft.Json.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/NuGet.Frameworks.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/pl/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/pt-BR/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/RedSailTechnologies.PaymentProcessingModule.Tests.deps.json
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/RedSailTechnologies.PaymentProcessingModule.Tests.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/RedSailTechnologies.PaymentProcessingModule.Tests.runtimeconfig.json
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/ru/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/testhost.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/testhost.exe
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/tr/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
RedSailTechnologies.PaymentProcessingModule.Tests/bin/Debug/net8.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
RedSailTechnologies.PaymentProcessingModule.Repositories/obj/Debug/net8.0/RedSailTechnologies.PaymentProcessingModule.Repositories.AssemblyInfoInputs.cache
RedSailTechnologies.PaymentProcessingModule.Repositories/obj/Debug/net8.0/RedSailTechnologies.PaymentProcessingModule.Repositories.AssemblyInfoInputs.cache
/RedSailTechnologies.PaymentProcessingModule.Common/obj
/RedSailTechnologies.PaymentProcessingModule.Services/bin
/RedSailTechnologies.PaymentProcessingModule.Tests/bin
/RedSailTechnologies.PaymentProcessingModule.Common/obj
/RedSailTechnologies.PaymentProcessingModule.Common/obj/Debug
/RedSailTechnologies.PaymentProcessingModule.Tests/bin
/RedSailTechnologies.PaymentProcessingModule/Properties
RedSailTechnologies.PaymentProcessingModule.Common/obj/Debug/net8.0/RedSailTechnologies.PaymentProcessingModule.Common.AssemblyInfoInputs.cache
RedSailTechnologies.PaymentProcessingModule.Common/obj/Debug/net8.0/RedSailTechnologies.PaymentProcessingModule.Common.AssemblyInfo.cs
