
/.vs/RedSailTechnologies.PaymentProcessingModule/DesignTimeBuild
/.vs/RedSailTechnologies.PaymentProcessingModule/FileContentIndex
/.vs/RedSailTechnologies.PaymentProcessingModule/v17
/RedSailTechnologies.PaymentProcessingModule.Services/obj
/RedSailTechnologies.PaymentProcessingModule/obj
